.container{
    display: flex;
    max-width: 1000px;
    margin :0 auto;
margin-top: 40px;
align-items: end;
}
.top_btn{
    display: flex;
    gap: 32px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-direction: end;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
padding-bottom: 40px;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form_control input{
    padding:0 8px;
    height: 40px;
}
.form_control textarea{
    padding:0 8px;

    padding: 10px;
     resize: vertical;

}
.form_control label{
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 0 10px;
    background-color: white;
    font-size: 14px;

}
